body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  width: 100vw;
  height: 20vh;
  background-color: cadetblue;
}

.first {
  width: 100vw;
  height: 55vh;
  background-color: lightblue;
  margin-bottom: 50px;
}

.middle {
  width: 90vw;
  height: 90vh;
  display: flex;
}
.middle .left {
  width: 20vw;
  height: 200vh;
  background-color: cadetblue;
}
.middle .right {
  margin-left: 100px;
  width: 70vw;
  height: 90vh;
}
.middle .right .text {
  width: 70vw;
  height: 10vh;
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.middle .right .text p {
  margin-left: 40px;
  font-size: 16pt;
}
.middle .right .boxarea {
  width: 70vw;
  height: 90vh;
}
.middle .right .boxarea .boxrow1 {
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 150px;
}
.middle .right .boxarea .boxrow1 .box1 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow1 .box1 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 40px;
}
.middle .right .boxarea .boxrow1 .box2 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow1 .box2 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 450px;
}
.middle .right .boxarea .boxrow1 .box3 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow1 .box3 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 860px;
}
.middle .right .boxarea .boxrow2 {
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 150px;
}
.middle .right .boxarea .boxrow2 .box4 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow2 .box4 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 40px;
}
.middle .right .boxarea .boxrow2 .box5 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow2 .box5 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 450px;
}
.middle .right .boxarea .boxrow2 .box6 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow2 .box6 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 860px;
}
.middle .right .boxarea .boxrow3 {
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.middle .right .boxarea .boxrow3 .box7 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow3 .box7 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 40px;
}
.middle .right .boxarea .boxrow3 .box8 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow3 .box8 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 450px;
}
.middle .right .boxarea .boxrow3 .box9 {
  width: 250px;
  height: 250px;
  background-color: cadetblue;
}
.middle .right .boxarea .boxrow3 .box9 span {
  font-size: 20pt;
  position: absolute;
  top: 250px;
  left: 860px;
}

.footer {
  width: 100vw;
  height: 10vh;
  background-color: cadetblue;
  margin-top: 800px;
}/*# sourceMappingURL=homework2.css.map */